@model IEnumerable<Grupo3.ReservaDeCine.Models.Funcion>

@{
    ViewData["Title"] = "Filtrar por día";
}


    <h1>Funciones por Día</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Tipo de Sala
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantButacasDisponibles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sala.Tipo.Nombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Pelicula.Nombre)
                </td>
                <td>
                    @item.Fecha.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.Horario.ToString("HH:mm")
                </td>

                @if (item.CantButacasDisponibles != 0)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.CantButacasDisponibles)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Reservas" asp-action="CrearReservaPorFuncion" asp-route-id="@item.Id">Reservar</a>
                    </td>
                }
                else
                {
                    <td>
                        <p style="font-weight:bolder; color:red">Agotadas</p>
                    </td>
                    <td>
                        <a class="btn btn-primary disabled" disabled asp-controller="Reservas" asp-action="CrearReservaPorFuncion" asp-route-id="@item.Id">Reservar</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

