@model Grupo3.ReservaDeCine.Models.Reserva


@{
    ViewData["Title"] = "CrearReservaPorFuncion";
}



<h1>Crear reserva por Función</h1>

<h4>Reserva</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="CrearReservaPorFuncion" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Película</label><br>
                <select disabled asp-items="@ViewBag.Peliculas" readonly></select>

            </div>
            <div class="form-group">
                <input type="hidden" asp-for="FuncionId" />
                <label class="control-label">Función</label><br>
                <select disabled asp-items="@ViewBag.FechaHora"></select>
            </div>
            <div class="form-group">
                <label asp-for="CantButacas" class="control-label"></label>
                <input asp-for="CantButacas" type="number" class="form-control" id="butacas">
                <span asp-validation-for="CantButacas" class="text-danger"></span>
            </div>

         

            <div class="form-group">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Reservar</button>
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content align-content-center">
                            <div class="modal-header">
                                <h4 class="modal-title">Confirmar Reserva</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <span>Película: @Model.Funcion.Pelicula.Nombre</span><br>
                                <span>Función: @Model.Funcion.FechaHora</span><br>
                                <span id="resultado">Costo total de la reserva: $
                                    <script>calcularTotal()</script>
                                </span>
                                @*Falta calcular Entrada*Cant asientos*@
                                @*@int.Parse(ViewBag.CostoEntrada)*int.Parse(iasp-for = "CantButacas")</span>*@
                                @*<span>Precio de la reserva:@(ViewBag.CostoEntrada * "CantButacas")</span><br>*@
                                @*@int.Parse(ViewBag.CostoEntrada)*int.Parse(iasp-for = "CantButacas")</span>*@

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Confirmar</button>
                            </div>
                        </div>

                    </div>
                </div>



            </div>
        </form>
    </div>
</div>



<script>
        function calcularTotal()
        {
            var butacas = document.getElemntById('butacas').value;
            var total = parseInt(@ViewBag.CostoEntrada) * butacas;
            $("#resultado").innexText= total;
        }
             
</script>
    

    <div>
        <a asp-action="Index">Volver al inicio</a>
    </div>



