@model Grupo3.ReservaDeCine.Models.Reserva

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Está seguro que desea eliminar esta reserva?</h3>
<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Funcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantButacas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantButacas)
        </dd>

        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoTotal)*@
        @*</dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeAlta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaDeAlta)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
