@model IEnumerable<Grupo3.ReservaDeCine.Models.Reserva>

@{
    ViewData["Title"] = "Reservas";
}

<h1>Reservas</h1>

<p>
    <a asp-action="Create">Crear nueva reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>

            <th>
                Película
            </th>

            <th>
                Sala
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CantButacas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoTotal)
            </th>
            <th>
                Fecha de función
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcion.Pelicula.Nombre)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Funcion.Sala.Nombre)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CantButacas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcion.FechaHora)
            </td>
            <td>

                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
