@model IEnumerable<Grupo3.ReservaDeCine.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear nueva Reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantButacas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeAlta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantButacas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeAlta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
